/.vscode
/bhservice.py
/blackjack.py
/bmp_world.py
/bouncing_dvd_logo.py
/client1.py
/development.code-workspace
/example.py
/file_monitor1.py
/file_monitor2.py
/gotcha.py
/netcat.py
/netcat2.py
/pms_task.vbs.txt
/process_monitor1.py
/process_monitor2.py
/process_monitor_log.csv
/venv
/__pycache__